#link-imc {
    border-bottom: 3px solid #ac3185;
}

#div-imc {
    width: 55%;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 80px;

    padding: 10px;
    box-shadow: -18px 15px 15px -3px rgba(0, 0, 0, 0.1);
    border: 1px solid #ac3185;
    border-radius: 10px;
}

#div-imc h1 {
    font-size: 26pt;
    padding-bottom: 25px;
}

#div-imc h2 {
    padding-top: 15px;
    font-size: 18pt;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 20px;
}

.option {
    border: 1px solid #ac3185;
    border-radius: 5px;
    width: 20%;

    padding: 5px;
    margin-bottom: 15px;
}

.option:hover {
    background-image: linear-gradient(to right top, #b8daef, #c0d1f5, #d5c5f1);
    cursor: pointer;
}

#texto-gestante {
    justify-content: center;
}

#texto-gemelar {
    justify-content: center;
}

#peso-altura input {
    border: 1px solid #ac3185;
    border-radius: 5px;

    text-align: center;
    padding: 10px;
    margin-top: 15px;
    width: 45%;
}

#peso-pre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonResponder {
    margin-top: 35px;
    padding: 15px;
    cursor: pointer;

    border-radius: 10px;
    border: 1px solid #ac3185;
    background-color: white;
}

#buttonResponder:hover {
    background-image: linear-gradient(to right top, #b8daef, #c0d1f5, #d5c5f1);
    transform: translateY(-8px);
    transition-duration: 0.5s;
}

.selecionado {
    background-image: linear-gradient(to right top, #b8daef, #c0d1f5, #d5c5f1);
}

#resultado {
    margin: auto;
    margin-top: 30px;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;

    width: 80%;

    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    #div-imc {
        width: 90%;

        padding: 0px;
    }

    #div-imc h1 {
        font-size: 24pt;
    }

    #div-imc h2 {
        font-size: 16pt;
    }

    .option {
        font-size: 10pt;
        width: 30%;
    }

    #peso-altura {
        font-size: 9.9pt;
    }

}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    #div-imc {
        width: 88%;
    }

    #div-imc h1 {
        font-size: 24pt;
    }

    #div-imc h2 {
        font-size: 18pt;
    }

    .option {
        font-size: 12pt;
        width: 30%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 982px) {
    #div-imc {
        width: 70%;
    }

    #div-imc h1 {
        font-size: 24pt;
    }

    #div-imc h2 {
        font-size: 18pt;
    }

    .option {
        font-size: 12pt;
        width: 30%;
    }
}

@media only screen and (min-width: 982px) and (max-width: 1130px) {
    #div-imc {
        width: 60%;
    }

    #div-imc h1 {
        font-size: 24pt;
    }

    #div-imc h2 {
        font-size: 18pt;
    }

    .option {
        font-size: 12pt;
        width: 30%;
    }
}