body {
    margin: 0px;
    padding: 0px;

    width: 100%;
}


#info-nutri {
    background-image: linear-gradient(to right, #f6ebf0, #f4ecf5, #f0eefa, #eaf1fe, #e4f4ff);

    margin-top: 140px;
    height: 120px;
    max-width: 1920px;
}

.titulo-texto-info {
    text-align: center;
    align-items: center;
}

#titulo-info {
    font-weight: 600;
    color: #ac3185;
}

#texto-info {
    padding-top: 25px;
    font-weight: 600;
    color: #ac3185;
}


/* Breakpoints responsivo */

@media only screen and (max-width: 600px) {
    #menu-superior {
        z-index: 1;
    }

    #info-nutri {
        padding: 30px 10px;
    }

    #titulo-info {
        font-size: 16pt;
    }

    #texto-info {
        font-size: 15pt;
    }
}

@media only screen and (min-width: 600px) {
    #menu-superior {
        z-index: 1;
    }

    #info-nutri {
        padding: 20px 10px;
    }

    #titulo-info {
        font-size: 18pt;
    }

    #texto-info {
        font-size: 17pt;
    }
}

@media only screen and (min-width: 768px) {
    #info-nutri {
        padding: 20px 20px;
    }

    #titulo-info {
        font-size: 18pt;
    }

    #texto-info {
        font-size: 18pt;
    }
}

@media only screen and (min-width: 992px) {
    #info-nutri {
        padding: 20px 100px;
    }

    #titulo-info {
        font-size: 18pt;
    }

    #texto-info {
        font-size: 18pt;
    }
}

@media only screen and (min-width: 1200px) {
    #info-nutri {
        padding: 20px 100px;
    }

    #titulo-info {
        font-size: 18pt;
    }

    #texto-info {
        font-size: 18pt;
    }
}